.partners {
  svg {
    text {
      fill: #fff;
      font-family: "Plus Jakarta Display", sans-serif;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 1.5px;
      text-transform: uppercase;
    }
    .text2 {
      color: #fff;
      font-family: "Plus Jakarta Display", sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 200%;
      opacity: 0.5;
    }
  }
}
